@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center  h-12 w-12 mx-6 my-2 shadow-lg bg-gradient-to-t from-cyan-600 to-emerald-200
        rounded-3xl hover:rounded-xl
        transition-all duration-100 ease-linear
        cursor-pointer
  }

  .sidebar-tooltip {
    @apply absolute w-14 p-0 min-w-max left-14 
        rounded-xl
        text-black bg-gradient-to-r from-cyan-500 to-emerald-400
        bg-clip-text
        text-sm
        break-all
        border-transparent border-2 border-solid
        transition-all duration-100 scale-0 origin-left
        hover:text-transparent;
  }

  .link-to-content {
    @apply relative flex align-bottom bg-gradient-to-r from-blue-500 to-emerald-300
    bg-clip-text hover:text-transparent text-xs left-[-600px] mx-6 my-3 group-hover:left-0 transition-all ease-linear duration-100
    hover:cursor-pointer text-gray-300
  }

  .playpausebutton {
    @apply flex h-full w-full rounded-3xl items-center justify-center shadow-lg drop-shadow-md
    hover:bg-gray-50 hover:drop-shadow-lg hover:text-emerald-400 scale-100
    active:bg-black active:text-white active:scale-90
    transition-all ease-in duration-75
    

  }
}
